
/* global */
@charset "UTF-8";

html {
  height: 100%;
}

body{ 
  padding-top: 90px; 
  text-align: center;
  font-family: 'kaelia';
  height: 100%;
}

.logo {
  position: relative;
  }

.logo h1{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  }

.logo img {
  width: 100%;
  }

.button {
  margin-top: 50px;
}

.btn--black,
a.btn--black {
  color: #fff;
  background-color: black;
  max-width: 220px;
  padding: 10px 25px;
  text-decoration: none;
}
.btn--black:hover,
a.btn--black:hover {
  color: #fff;
  background: #444444;
}

a.btn--radius {
    border-radius: 10px;
}

.btn--radius {
  border-radius: 10px;
  font-family: 'kaelia';
}

/* contact page */
.contact {
margin-bottom: 50px;
}
.cp_iptxt {
	position: relative;
	margin: 100px 30%;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px kaelia;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #aaaaaa;
	border: 1px solid #1b2538;
	border-radius: 4px;
  display: flex;
  margin: 10px;
}
.ef input[type='text']:focus {
	border: 1px solid #da3c41;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(218,60,65, .5);
}


/* external_circle_rotation */
#external_circle {
  animation: 10s linear infinite clockwise;
/* 50％は中央、そしてsvgがtransform="translate(-153 -153)"となっているので下記のように描くことにより座標を中央にできる */
  transform-origin: calc(50% + 153px) calc(50% + 153px);
}

@keyframes clockwise {
  0%{transform: rotate(0);}
  100%{transform: rotate(360deg);}

}

/* center_circle_rotation */
#center_circle {
  animation: 13s linear infinite  counterclockwise;
/* 50％は中央、そしてsvgがtransform="translate(-153 -153)"となっているので下記のように描くことにより座標を中央にできる */
  transform-origin: calc(50% + 153px) calc(50% + 153px);
}

@keyframes counterclockwise {
  0%{transform: rotate(360deg);}
  100%{transform: rotate(0);}

}

/* inner_circle_rotation */
#inner_circle {
  animation: 16s linear infinite  clockwise;
/* 50％は中央、そしてsvgがtransform="translate(-153 -153)"となっているので下記のように描くことにより座標を中央にできる */
  transform-origin: calc(50% + 153px) calc(50% + 153px);
}

@keyframes clockwise {
  0%{transform: rotate(0);}
  100%{transform: rotate(360deg);}

}

/* coinflip_effect for JS */
@keyframes coinflip {
  0%{transform: rotateX(0);}
  100%{transform: rotateX(360deg);}
}

  